@if (dataSource) {
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Nom -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commune </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
  
      <!-- Code postal -->
      <ng-container matColumnDef="cp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code postal </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
  
      <!-- Population -->
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Population </th>
        <td mat-cell *matCellDef="let element"> {{element.population}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
}