<form class="example-form">
    <mat-form-field class="full-width">
      <mat-label>Région de France</mat-label>
      <input #input
             type="text"
             placeholder="Selectionnez une région"
             matInput
             [formControl]="region_FC"
             [matAutocomplete]="auto"
             (input)="filter()"
             (focus)="filter()">
      <mat-autocomplete requireSelection #auto="matAutocomplete" (optionSelected)="optionSelected()">
        @for (option of filteredOptions; track option) {
          <mat-option [value]="option.code">{{option.nom}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  @if (departements.length > 0) {
  <table mat-table [dataSource]="departements" class="mat-elevation-z8 demo-table">
    <!-- Numéro du département -->
    <ng-container matColumnDef="Numéro">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.code}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Département">
      <th mat-header-cell *matHeaderCellDef>Nom du département</th>
      <td mat-cell *matCellDef="let element">{{element.nom}}</td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="viewDepartement(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
}